
<div class="col-md-4">
  <div class="randombeers">
    <img class="random-img-top" src="{{image_url}}" alt=""/>
    <div class="random-body">
      <h5 class="random-title">{{name}} {{tagline}}</h5>
      <ul id="text">
        <li>{{description}} </li>
        <li >{{food_pairing}} </li>
        <li >{{brewers_tips}} </li>
      </ul> 
    </div>
  </div>
</div>
